<!DOCTYPE html>
<html>
<head>
    <title>Account Activation</title>
    <style>
        body {
            height: 100vh;
            font-family: sans-serif;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content:center;
            margin:0;
            align-items: center;
        }

        a {
            margin: 40px;
            border-radius: 10px;
        }

        .activation-link {
            font-size: 12px;
        }



    </style>
</head>
<body style="background-color:black" >
    <h1>Hi,</h1>
    <p>You can reset your password by clicking the following link:</p>
    <a href="{{ reset_password_url }}" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;">Reset your password</a>
    <p>If the button above does not work, you can also copy and paste the following link into your browser:</p>
    <p class="activation-link">{{reset_password_url }}</p>
    <p>Best regards,<br>Your VIDEOFLIX Team</p>
</body>
</html>