<!DOCTYPE html>
<html>
<head>
    <title>Account Activation</title>
    <style>
        body {
            height: 100vh;
            font-family: sans-serif;
            color: white;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content:center;
            margin:0;
            align-items: center;
        }

        a {
            margin: 40px;
            border-radius: 10px;
        }

        .activation-link {
            font-size: 12px;
        }



    </style>
</head>
<body style="background-color:black" >
    <h1 style="color: white;">Dear {{ user.first_name }},</h1>
    <p style="color: white;">Thank you for joining VIDEOFLIX. Please click the following link to activate your account:</p>
    <a href="{{ activation_link }}" style="display: inline-block; padding: 10px 20px; background-color: red; color: white; text-decoration: none;">Activate Account</a>
    <p style="color: white;">If the button above does not work, you can also copy and paste the following link into your browser:</p>
    <p style="color: white;" class="activation-link">{{ activation_link }}</p>
    <p style="color: white;">Best regards,<br>Your VIDEOFLIX Team</p>
</body>
</html>
